.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin alternate infinite 2s ease-in-out;
  height: 80px;
}

.App-header {
  background-color: #EC4149;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
