input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
  }
  input[type=submit]{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 40%;
  }
  body {
    font-size: 81px;
    padding: 25px;
  }
  h1 {
    font-size: 48px;
  }
  .nav-button {
    background: #007eff;
    border: none;
    border-radius: 10000px;
    font-size: 40px;
    color: white;
    padding: 10px 20px;
    float: right;
    margin-left: 20px;
    user-select: none;
    margin-bottom: 20px;
  }
  .nav-button:hover {
    background: #007eff99;
    transition: transform .25s;
  }
  .nav-button:active {
    transform: translateY(5px);
    transition: transform .05s
  }
  .nav-button:focus {
    outline: none;
    box-shadow: 0 0 0px 5px orange;
  }
  
  .blobs {
    margin-top: 50px;
    clear: both;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: #ccc;
    border-radius: 85px;
    min-height: 170px;
  }
  .blobs li {
    padding: 25px 0;
    text-align: center;
    background: #aaa;
    user-select: none;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    box-sizing: border-box;
    margin: 10px;
    animation: enter 0.25s ease-out;
    transition: background .5s;
  }
  .blobs li:hover {
    background: red;
    transition: background .1s, opacity .5s;
  }
  .blobs li:active {
    transform: translateY(5px);
  }
  @keyframes enter {
    0% {
      transform: scale(.001, .001) rotate(360deg);
      opacity: 0;
    }
    100% {
      transform: scale(1, 1)rotate(0deg);
      opacity: 1;
    }
  }