
.App {
  text-align: center;
}

.search-box input{
  width: 40%;
  height: 3em;
  border-radius: 15px;
  border: none;
  color: red;
  font-weight: 600;
  background: #5E43FF;
  padding-left: 2em;
  margin-bottom: 2em;
}

form {
  display: flex;
  padding: 1em;
  background: #F3D9DC;
  width: 35%;
  margin: auto;
  border: .2em solid #D7BEA8;
  border-radius: 5px;
  justify-content: center;
  margin-bottom: 2em;
}

input[type='submit']{
  margin-left: 10px;
  background: rgb(0, 196, 65);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.23s;
}

label {
  flex: 1;
}

input[type='text']{
  flex: 1;
  background: #ddd;
}

h1{
  font-family: cursive;
  font-size: 3em;
  margin-bottom: 30px;
}

.container {
  border: .2em solid #D7BEA8;
  background-color: #F3D9DC;
  border-radius: 5px;
  padding: 1em;
  width: 35%;
  margin: auto;
  margin-bottom: 1em;
  display: table;
}

.container.liked {
  background-color: #00FA9A;
}

.container.disliked {
  background-color: #DC143C;
}


.container span {
  font-weight: bold;
}

.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.container button {
  float: right;
  position: relative;
  padding: 0.3em 1.2em;
  background-color: #4e9af1;
  border-radius: 25%;
  vertical-align: middle;
  font-size: 1em;
	box-shadow: 0 3px 20px 0 #0000003b;

}

.container button.delButton {
  float: right;
  position: relative;
  background-color: #B23914;
  font-size: .5em;
	box-shadow: 0 3px 20px 0 #0000003b;
}
